mixin list(info)
    div(class="list_item row")
        div(class="left")
            h4(class="title") #{info.title}
            div(class="opening_hour flex") 
                img(src="/static/img/icons/opening_hours_icon.png", alt="영업시간 아이콘", class="card_icon")
                p(class="text") #{info.openingHours} 
                    span #{info.openingHoursMemo ? (info.openingHoursMemo) : ''}
            div(class="address flex") 
                img(src="/static/img/icons/location_icon.png", alt="주소 아이콘", class="card_icon")
                p(class="text") #{info.address}
            a(target="_blank",href=`${info.googleMaps}`,class="google_maps_btn flex")
                img(src="static/img/icons/google_maps_icon_circle.png", alt="구글 맵 아이콘")
                span Google Maps
        div(class="right")
            div(class="store_img")
                img(src=`${info.img}`, alt=`${info.title}`)